#content {
    padding-bottom: 10%;
    padding-top: 5%;
}

.fill-window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.btn {
    color: "white";
    background: "#00cc88";
    border: "none";
}